<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<log4net>
    
		<!--====== Loggers - Change logging levels here ======-->
		<logger name="ApolloLogger.Plugins">
			<level value="ALL" />
			<appender-ref ref="ConsoleAppender"/>
		</logger>
        
	    <logger name="ApolloLogger.Internals.ServiceBusCommunicator">
	        <level value="ALL" />
	        <appender-ref ref="ConsoleAppender"/>
	    </logger>
        
	    <logger name="ApolloLogger.Internals.Tracing">
	        <level value="OFF" />
	        <appender-ref ref="ConsoleTraceAppender"/>
	    </logger>

		<!--====== Appenders ======-->
	    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
	        <threshold value="DEBUG"/>
	        <layout type="log4net.Layout.PatternLayout">
	            <param name="ConversionPattern" value="%logger% %-5p %m%n" />
	        </layout>
	    </appender>
        
	    <appender name="ConsoleTraceAppender" type="log4net.Appender.ConsoleAppender" >
	        <threshold value="DEBUG"/>
	        <layout type="log4net.Layout.PatternLayout">
	            <param name="ConversionPattern" value=">> %m%n" />
	        </layout>
	    </appender>
		<root> 
			<level value="OFF" /> 
		</root>
	</log4net>
</configuration>
